/*

	PANE CSS

	DEVELOPED BY LUCAS CORTEZ GRESELE

	*** Internet, by everybody for everybody ***

*/
body {
  margin: auto; }

.box-center {
  margin: auto; }

*[class*=col] {
  float: left;
  -moz-transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
  -ms-transition: width 1s ease;
  transition: width 1s ease; }

/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- WIDE SCREEN -- 1200px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/
@media (min-width: 1240px) {
  .col1 {
    width: 1.08333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col2 {
    width: 5.25%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col3 {
    width: 9.41667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col4 {
    width: 13.58333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col5 {
    width: 17.75%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col6 {
    width: 21.91667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col7 {
    width: 26.08333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col8 {
    width: 30.25%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col9 {
    width: 34.41667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col10 {
    width: 38.58333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col11 {
    width: 42.75%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col12 {
    width: 46.91667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col13 {
    width: 51.08333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col14 {
    width: 55.25%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col15 {
    width: 59.41667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col16 {
    width: 63.58333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col17 {
    width: 67.75%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col18 {
    width: 71.91667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col19 {
    width: 76.08333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col20 {
    width: 80.25%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col21 {
    width: 84.41667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col22 {
    width: 88.58333%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col23 {
    width: 92.75%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .col24 {
    width: 96.91667%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px; }

  .box-center {
    width: 1200px;
    padding-right: 15px; }

  body {
    width: 1230px;
    margin: 15px auto; } }
/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/
/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- MEDIUM SCREEN -- 960px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/
@media (min-width: 1000px) and (max-width: 1239px) {
  .col1 {
    width: 0.83333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col2 {
    width: 5.0%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col3 {
    width: 9.16667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col4 {
    width: 13.33333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col5 {
    width: 17.5%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col6 {
    width: 21.66667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col7 {
    width: 25.83333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col8 {
    width: 30.0%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col9 {
    width: 34.16667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col10 {
    width: 38.33333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col11 {
    width: 42.5%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col12 {
    width: 46.66667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col13 {
    width: 50.83333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col14 {
    width: 55%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col15 {
    width: 59.16667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col16 {
    width: 63.33333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col17 {
    width: 67.5%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col18 {
    width: 71.66667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col19 {
    width: 75.83333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col20 {
    width: 80.0%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col21 {
    width: 84.16667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col22 {
    width: 88.33333%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col23 {
    width: 92.5%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .col24 {
    width: 96.66667%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px; }

  .box-center {
    width: 960px;
    padding-right: 10px; }

  body {
    width: 980px;
    margin: 10px auto; } }
/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/
/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- SMALL SCREEN -- 720px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/
@media (min-width: 740px) and (max-width: 999px) {
  .col1 {
    width: 8.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col2 {
    width: 8.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col3 {
    width: 8.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col4 {
    width: 20.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col5 {
    width: 20.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col6 {
    width: 20.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col7 {
    width: 33.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col8 {
    width: 33.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col9 {
    width: 33.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col10 {
    width: 45.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col11 {
    width: 45.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col12 {
    width: 45.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col13 {
    width: 58.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col14 {
    width: 58.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col15 {
    width: 58.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col16 {
    width: 70.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col17 {
    width: 70.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col18 {
    width: 70.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col19 {
    width: 83.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col20 {
    width: 83.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col21 {
    width: 83.33333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col22 {
    width: 95.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col23 {
    width: 95.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .col24 {
    width: 95.83333%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px; }

  .box-center {
    width: 720px;
    padding-right: 8px; }

  body {
    width: 736px;
    margin: 8px auto; } }
/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/
/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- TABLET AND SMARTPHONE -- 480px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/
@media (min-width: 535px) and (max-width: 739px) {
  .col1 {
    width: 20.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col2 {
    width: 20.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col3 {
    width: 20.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col4 {
    width: 20.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col5 {
    width: 28.40909%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col6 {
    width: 28.40909%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col7 {
    width: 28.40909%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col8 {
    width: 28.40909%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col9 {
    width: 28.40909%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col10 {
    width: 28.40909%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col11 {
    width: 28.40909%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col12 {
    width: 45.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col13 {
    width: 45.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col14 {
    width: 45.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col15 {
    width: 45.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col16 {
    width: 45.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col17 {
    width: 45.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col18 {
    width: 45.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col19 {
    width: 95.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col20 {
    width: 95.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col21 {
    width: 95.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col22 {
    width: 95.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col23 {
    width: 95.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .col24 {
    width: 95.07576%;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 8px; }

  .box-center {
    width: 528px;
    padding-right: 8px; }

  body {
    width: 544px;
    margin: 8px auto; } }
/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/
/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- SMARTPHONE -- 

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/
@media (min-width: 330px) and (max-width: 534px) {
  .col1 {
    width: 133px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col2 {
    width: 133px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col3 {
    width: 133px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col4 {
    width: 133px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col5 {
    width: 133px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col6 {
    width: 133px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col7 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col8 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col9 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col10 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col11 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col12 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col13 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col14 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col15 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col16 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col17 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col18 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col19 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col20 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col21 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col22 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col23 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .col24 {
    width: 289px;
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px; }

  .box-center {
    width: 312px;
    padding-right: 5px; }

  body {
    width: 322px;
    margin: 5px auto; } }
/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/
/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- TABLET AND SMARTPHONE -- 480px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/
@media (max-width: 329px) {
  .col1 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col2 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col3 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col4 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col5 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col6 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col7 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col8 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col9 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col10 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col11 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col12 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col13 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col14 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col15 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col16 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col17 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col18 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col19 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col20 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col21 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col22 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col23 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .col24 {
    width: 90%;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 6px; }

  .box-center {
    width: 90%;
    padding-right: 4px; }

  body {
    margin: 4px auto; } }
/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/
