/*

	PANE CSS

	DEVELOPED BY LUCAS CORTEZ GRESELE

	*** Internet, by everybody for everybody ***

*/

body{
	margin: auto;
}

.box-center{
	margin: auto;
}

*[class*=col]{
	float: left;

	-moz-transition: width 1s ease;
	-webkit-transition: width 1s ease;
	-o-transition: width 1s ease;
	-ms-transition: width 1s ease;
	transition: width 1s ease;
}


/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- WIDE SCREEN -- 1200px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/

@media (min-width: 1240px){

$grid: 1200px;
$columns: 24;
$margin: 15px;
$padding: 10px;
$border: 1px;

$one: (100% / $columns);

@mixin gen_grid($i){
	width: (($one * $i) - ((($margin / $grid) * 100) + (($border * 2 / $grid) * 100) + (($padding * 2 / $grid) * 100)));
	margin-left: $margin; 
	margin-bottom: $margin;
	padding: $padding;
}

@for $i from 1 through $columns{
	.col#{$i}{
		@include gen_grid($i);
	}
}

.box-center{
	width: $grid;
	padding-right: $margin;
}

body{
	width: ($grid + ($margin * 2));
	margin: $margin auto;
}

}

/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/





/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- MEDIUM SCREEN -- 960px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/

@media (min-width: 1000px) and (max-width: 1239px){

$grid: 960px;
$columns: 24;
$margin: 10px;
$padding: 10px;
$border: 1px;

$one: (100% / $columns);

@mixin gen_grid($i){
	width: (($one * $i) - ((($margin / $grid) * 100) + (($border * 2 / $grid) * 100) + (($padding * 2 / $grid) * 100)));
	margin-left: $margin; 
	margin-bottom: $margin;
	padding: $padding;
}

@for $i from 1 through $columns{
	.col#{$i}{
		@include gen_grid($i);
	}
}

*[class*=col]{

}

.box-center{
	width: $grid;
	padding-right: $margin;
}

body{
	width: ($grid + ($margin * 2));
	margin: $margin auto;
}

}

/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/

/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- SMALL SCREEN -- 720px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/

@media (min-width: 740px) and (max-width: 999px){

$grid: 720px;
$columns: 24;
$margin: 8px;
$padding: 10px;
$border: 1px;

$one: (100% / $columns);

@mixin gen_grid($i){
	width: (($one * $i) - ((($margin / $grid) * 100) + (($border * 2 / $grid) * 100) + (($padding * 2 / $grid) * 100)));
	margin-left: $margin; 
	margin-bottom: $margin;
	padding: $padding;
}

@for $i from 1 through 3{
	.col#{($i)}{
		@include gen_grid(3);
	}
}

@for $i from 4 through 6{
	.col#{($i)}{
		@include gen_grid(6);
	}
}

@for $i from 7 through 9{
	.col#{($i)}{
		@include gen_grid(9);
	}
}

@for $i from 10 through 12{
	.col#{($i)}{
		@include gen_grid(12);
	}
}

@for $i from 13 through 15{
	.col#{($i)}{
		@include gen_grid(15);
	}
}

@for $i from 16 through 18{
	.col#{($i)}{
		@include gen_grid(18);
	}
}

@for $i from 19 through 21{
	.col#{($i)}{
		@include gen_grid(21);
	}
}

@for $i from 22 through 24{
	.col#{($i)}{
		@include gen_grid(24);
	}
}

.box-center{
	width: $grid;
	padding-right: $margin;
}

body{
	width: ($grid + ($margin * 2));
	margin: $margin auto;
}

}

/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/


/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- TABLET AND SMARTPHONE -- 480px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/

@media (min-width: 535px) and (max-width: 739px){

$grid: 528px;
$columns: 24;
$margin: 8px;
$padding: 8px;
$border: 1px;

$one: (100% / $columns);

@mixin gen_grid($i){
	width: (($one * $i) - ((($margin / $grid) * 100) + (($border * 2 / $grid) * 100) + (($padding * 2 / $grid) * 100)));
	margin-left: $margin; 
	margin-bottom: $margin;
	padding: $padding;
}

@for $i from 1 through 4{
	.col#{($i)}{
		@include gen_grid(6);
	}
}

@for $i from 5 through 11{
	.col#{($i)}{
		@include gen_grid(8);
	}
}

@for $i from 12 through 18{
	.col#{($i)}{
		@include gen_grid(12);
	}
}

@for $i from 19 through 24{
	.col#{($i)}{
		@include gen_grid(24);
	}
}

.box-center{
	width: $grid;
	padding-right: $margin;
}

body{
	width: ($grid + ($margin * 2));
	margin: $margin auto;
}

}

/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/


/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- SMARTPHONE -- 

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/

@media (min-width: 330px) and (max-width: 534px){

$grid: 312px;
$margin: 5px;
$padding: 8px;
$border: 1px;

@for $i from 1 through 6{
	.col#{($i)}{
		width: ($grid / 2) - ($margin + ($border * 2) + ($padding * 2));
		padding: $padding;
		margin-left: $margin;
		margin-bottom: $margin;
	}
}

@for $i from 7 through 24{
	.col#{($i)}{
		width: ($grid) - ($margin + ($border * 2) + ($padding * 2));
		padding: $padding;
		margin-left: $margin;
		margin-bottom: $margin;
	}
}

.box-center{
	width: $grid;
	padding-right: $margin;
}

body{
	width: ($grid + ($margin * 2));
	margin: $margin auto;
}

}

/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/

/* 
================================================================================ 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

--- TABLET AND SMARTPHONE -- 480px grid

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
================================================================================
*/

@media (max-width: 329px){

$margin: 4px;
$padding: 6px;
$border: 1px;
$columns: 24;


@mixin gen_grid($i){
	width: 90%;
	margin-left: $margin; 
	margin-bottom: $margin;
	padding: $padding;
}

@for $i from 1 through $columns{
	.col#{($i)}{
		@include gen_grid($i);
	}
}

.box-center{
	width: 90%;
	padding-right: $margin;
}

body{
	margin: $margin auto;
}

}

/* 
================================================================================ 
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
*/